* {
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace; }

html {
  font-size: 62.5%; }

body {
  background-color: #efefef; }

.header {
  display: inline-block;
  height: 10%;
  width: 100%;
  border-bottom: .4rem solid #9400d3; }
  .header__firsthalf {
    height: 10rem;
    width: 50%;
    float: left;
    background-color: #333;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .header__firsthalf--timcarew {
      padding: 0 2rem;
      font-size: 5em;
      color: #fffff7; }
  .header__secondhalf {
    float: left;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10rem;
    width: 50%;
    background-color: #333; }
    .header__secondhalf--icons {
      font-size: 3rem;
      color: white; }
      .header__secondhalf--icons a {
        color: white; }
      .header__secondhalf--icons-mail {
        transition: all 0.1s linear;
        padding: 0 1rem; }
        .header__secondhalf--icons-mail:hover {
          color: #ffa500;
          cursor: pointer; }
      .header__secondhalf--icons-github {
        transition: all 0.1s linear;
        padding: 0 2rem 0 1rem; }
        .header__secondhalf--icons-github:hover {
          color: #6e5494;
          cursor: pointer; }

.main {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  @media screen and (max-width: 720px) {
    .main {
      grid-template-columns: 1fr; } }
  .main-about {
    background-color: white;
    margin: 10rem auto 0 auto;
    width: 75%;
    padding: 1rem;
    font-size: 2.5rem;
    border-radius: 2rem;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2)); }
    @media screen and (max-width: 720px) {
      .main-about {
        margin: 5rem auto 0 auto; } }
    .main-about_profile {
      margin-right: 3rem;
      height: 15rem;
      width: 15rem;
      float: left;
      shape-outside: circle(50% at 50% 50%);
      -webkit-shape-outside: circle(50% at 50% 50%);
      clip-path: circle(45% at 50% 50%);
      -webkit-clip-path: circle(45% at 50% 50%); }
      .main-about_profile-text {
        color: #5271FF; }
  .main-tools {
    background-color: white;
    margin: 10rem auto 0 auto;
    width: 75%;
    padding: 1rem;
    font-size: 2.5rem;
    border-radius: 2rem;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2)); }
    @media screen and (max-width: 720px) {
      .main-tools {
        margin: 5rem auto 0 auto; } }

.projects {
  display: grid;
  width: 88%;
  margin: 3rem auto;
  border-radius: 2rem; }
  @media screen and (max-width: 720px) {
    .projects {
      width: 75%; } }
  .projects-title {
    margin: 2rem auto 5rem auto;
    font-size: 3rem; }
  .projects-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    font-size: 2rem; }
    @media screen and (max-width: 720px) {
      .projects-cards {
        grid-template-columns: 1fr; } }
    .projects-cards_1 {
      border-radius: 2rem;
      background-color: white;
      filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
      padding: 2rem;
      text-align: center; }
    .projects-cards_2 {
      border-radius: 2rem;
      background-color: white;
      filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
      padding: 2rem;
      text-align: center; }
      .projects-cards_2-link {
        text-decoration: none;
        color: #1BA1F1; }

/*# sourceMappingURL=main.css.map */
